<div id="viewerContainer"></div>

<div class="row">
    <div class="span8" style="text-align: center">
        <span>Filtri</span>
    </div>
</div>
<div class="row">
    <div class="span4" style="text-align: right">
        <span>Codice:</span>
    </div>
    <div class="span4" style="text-align: left">
        <input type="text"/>
    </div>
</div>
<div class="row">
    <div class="span4" style="text-align: right">
        <span>Descrizione:</span>
    </div>
    <div class="span4" style="text-align: left">
        <input type="text"/>
    </div>
</div>
<div class="row">
    <div class="span8" style="text-align: center">
        <button>Esegui</button>
    </div>
</div>
