<h1>Elenco Articoli</h1>

<div class="container container-custom">
    
    <!-- Filtri -->
    <div class="row row-custom">
        <div class="span4 text-left">
            <span>contiene</span><input id="filterCod" type="text" ng-model="filters.cod" />
        </div>
        <div class="span4 text-left">
            <span>contiene</span><input id="filterDes" type="text" ng-model="filters.des" />
        </div>
        <div class="span4 text-left">
            <span>minore o uguale a</span><input id="filterPrezzo" type="text" ng-model="filters.prezzo_unitario" />
        </div>
    </div>
    
    <!-- Header -->
    <div class="row row-custom">
        <div class="span4 text-left">
            <span><b>Codice</b></span>
        </div>
        <div class="span4 text-left">
            <span><b>Descrizione</b></span>
        </div>
        <div class="span4 text-left">
            <span><b>Prezzo Unitario</b></span>
        </div>
    </div>
    
    <!-- Dati -->    
    <div ng-repeat="articolo in data.articoli | filter: search" class="row row-custom row-data">    
        <div class="span4 text-left">
            <span>{{articolo.cod}}</span>
        </div>
        <div class="span4 text-left">
            <span>{{articolo.des}}</span>
        </div>
        <div class="span4 text-left">
            <span>{{articolo.prezzo_unitario | ValutaFilter}}</span>
        </div>       
    </div>
    
</div>